.details {
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  font-size: 12px;
  border: 1px solid #f3b6d3;
  max-width: $cont-width;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  padding: 10px;
}


@media (min-width: 694px) {
  .details {
    font-size: 14px;
    max-width: $tab-width;
    margin-bottom: 20px;
    align-items: center;
  }
}

@media (min-width: 1171px) {
  .details {
    max-width: $dtcont-width;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    padding-bottom: 70px;
    justify-content: space-between;
    border: none;
    flex-wrap: nowrap;
    align-items: flex-start;


    &__day {
      min-width: 80px;
      padding-right: 30px;
    }

    &__shop {
      min-width: 188px;
      padding-right: 50px;
    }

    &__stock {
      min-width: 189px;
      padding-right: 25px;
      display: block;
    }

    &__brand {
      min-width: 120px;
      word-wrap: break-word;
      padding-right: 30px;
    }


    &__discount {
      min-width: 120px;
      padding-right: 40px;
    }

    &__more {
      min-width: 145px;
    }
  }
}